<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" throwExceptions="true">
  <!-- optional, add some variables
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->


  <extensions>
    <!--<add assembly="Exceptionless.NLog"/>
    <add assembly="Microsoft.ApplicationInsights.NLogTarget" />
    <add assembly="NDBPlus.Common.Logger.NLog.Etw" />-->

  </extensions>

  <targets async="true">
    <target name="logfile" xsi:type="File" fileName="C:\tmp\logs\file.txt" />
    <!--<target name="exceptionless" xsi:type="Exceptionless" apiKey="529dhta25vNPZSQQGFrr9VK6YYPNkNOImxMwhVGp" serverUrl="http://localhost:50000"/>
    <target type="ApplicationInsightsTarget" name="aiTarget"  InstrumentationKey="10b12d06-301b-4dc9-a239-b7335e2b439a" />
    <target xsi:type="ExtendedEventTracing"
            name="eetw"
            layout="${longdate}|${uppercase:${level}}|${message}${onexception:|Exception occurred\:${exception:format=tostring}}"
    />-->
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="logfile" />
    <!--<logger name="*" minlevel="Debug" writeTo="exceptionless"/>
    <logger name="*" minlevel="Debug" writeTo="aiTarget" />
    <logger name="*" minlevel="Debug" writeTo="eetw" />-->
  </rules>
</nlog>
